<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Wren Planner - <%- plannerVersionTitle %></title>
	<link rel="stylesheet" href="<%- assetsUrl %>/<%- plannerVersion %>-<%- roomTypeHandle %>/main.css">
</head>

<body>
	<div id="application"></div>
	<script>
		var WREN = {
			"launch": <%= launchParams %>,
			"ckValue": "666",
			"audience": "<%- plannerVersion %>",
			"unityEnabled": "true",
			"unityMode": "webgl"
		};
	</script>
	<script src="<%- assetsUrl %>/vendors/vendors.js"></script>
	<script src="<%- assetsUrl %>/<%- plannerVersion %>-<%- roomTypeHandle %>/main.js"></script>
</body>
</html>
